<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="UTF-8">
<head th:replace="/layout :: head">
    <title>Create New Product</title></head>
<body>
<h3>Add Product</h3>
<p>
    <a th:href="@{/}">
        Back to product list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/product/save}" th:object="${product}"
          method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>

        <div>
            <label>Name :
                <input type="text" th:field="*{name}"/>
            </label>
        </div><br>

        <div>
            <label>Color :
                <input type="email" th:field="*{color}"/>
            </label>
        </div><br>

        <div>
            <label>Price :
                <input type="email" th:field="*{price}"/>
            </label>
        </div><br>

        <div>
            <label>Manufacturer :
                <input type="text" th:field="*{manufacturer}"/>
            </label>
        </div>

        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>