<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="UTF-8">
<head th:replace="/layout :: head">
    <title>View Detail</title>
</head>
<body>
<h3>View Product</h3>
<p>
    <a th:href="@{/}">
        Back to product list
    </a>
</p>
<div id="detail">
    <table id="products">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Color</th>
            <th>Price</th>
            <th>Manufacturer</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.color}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.manufacturer}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/product/{id}/addProduct(id=${product.getId()})}"><h3>Add Product</h3></a>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>